$primaryColor: #E55803;
$secondaryColor: #1aa7fc;
$backgroundColor: #555555;

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    color: $primaryColor;
    background: darken($backgroundColor, 10%);
    align-items: center;
}

header {
    font-size: 3rem;
    margin: .5rem;
}

input {
    background-color: $backgroundColor;
    color: $primaryColor;
    padding: .5rem;
    outline: none;
    border-color: $primaryColor;
    font-size: 1.5rem;

    &::placeholder {
        color: $primaryColor;
    }

    &:focus {
        color: $secondaryColor;
        background-color: darken($backgroundColor, 20%);
        border-color: $secondaryColor;
        box-shadow: 0px 0px 15px $secondaryColor;
        
        &::placeholder {
            color: $secondaryColor;
        }
    }
}

ul {
    display: flex;
    flex-direction: column;
    width: clamp(280px, 90vw, 800px);
    margin: 1rem 1.5rem
}

li {
    display: flex;
    list-style-type: none;
    margin: .3rem;
    justify-content: space-between;
    font-size: 2rem;
    background-color: $backgroundColor;
    padding: 0.1rem 1rem;
}

button {
    color: $primaryColor;
    border: none;
    border-radius: 50%;
    padding: .2rem;
    background-color: $backgroundColor;
    font-size: 1.5rem;
}

.checked {
    color: $secondaryColor;
    background-color: darken($backgroundColor, 20%);

    &>button {
        color: $secondaryColor;
        background-color: darken($backgroundColor, 20%);
    }
}

#addBtn, #clearBtn {
    margin: 1rem 1rem 0;
}

@media screen and (width > 600px) {
    html {
        font-size: 100%;
    }
}

@media screen and (width > 900px) {
    ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        width: clamp(400px, 90vw, 1200px);
    }
    li {
        align-self: start;
    }
}
